@import "colors.css";

/*

V A R I A B L E S

Here you can change the opacity level and the main color of the browser. Also the color of the selections (When you select text)

*/

:root {
    color: var(--fg-color) !important;
    background-color: var(--bg-color) !important;
    --urlbar-width: 40vw;
    --arrowpanel-background: var(--bg-color) !important;
    --arrowpanel-color: var(--fg-color) !important;
    --input-text-border-color: var(--fg-color) !important;
    --input-text-background-color: var(--bg-color) !important;
    --border-width: 0px !important;
    --panel-background: var(--bg-color) !important;
    --panel-color: var(--fg-color) !important;
    --focus-outline-color: var(--fg-color) !important;
    --urlbarview-background-color-hover: var(--bg-color) !important;
    --urlbarview-background-color-selected: color-mix(
        in srgb,
        var(--bg-color) 95%,
        white
    ) !important;
    --urlbarview-text-color-selected: var(--fg-color) !important;
    --urlbarview-text-color-action: var(--fg-color) !important;
    --urlbarview-separator-color: var(--fg-color) !important;
    --urlbar-box-background-color: var(--bg-color) !important;
    --urlbar-box-background-color-focus: var(--bg-color) !important;
    --urlbar-box-background-color-hover: var(--bg-color) !important;
    --toolbar-field-border-color: transparent !important;
    --toolbar-field-focus-border-color: transparent !important;
    --toolbar-field-border-color: transparent !important;
}

.searchmode-switcher {
    --button-background-color-active: var(--button-background-color);
    --button-background-color-hover: var(--button-background-color);
    --button-background-color-selected: var(--button-background-color);
    --button-background-color: var(--urlbar-box-background-color);
}

/*
G E N E R A L
*/

window,
menupopup,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#sidebar,
#tabbrowser-tabpanels,
#nav-bar {
    background-color: var(--bg-color) !important;
    -moz-appearance: none !important;
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
}

#nav-bar {
    margin-left: 10px !important;
}

/* Right click popups */
panel,
menupopup {
    --panel-background: var(--bg-color) !important;
    --panel-border-color: none !important;
    --panel-color: var(--fg-color) !important;
    --panel-background-color: var(--bg-color) !important;
    --background-color-canvas: var(--bg-color) !important;
    --panel-color: var(--fg-color) !important;
    --text-color: var(--fg-color) !important;
    --panel-item-hover-bgcolor: color-mix(
        in srgb,
        var(--bg-color) 85%,
        white
    ) !important;
    --panel-item-active-bgcolor: color-mix(
        in srgb,
        var(--bg-color) 75%,
        white
    ) !important;
    --button-background-color-ghost-hover: color-mix(
        in srgb,
        var(--bg-color) 85%,
        white
    ) !important;
    --button-background-color-ghost-active: color-mix(
        in srgb,
        var(--bg-color) 75%,
        white
    ) !important;
}

::selection {
    background-color: var(--fg-color);
    /* Text color of your selection */
    color: var(--bg-color);
}

.toolbarbutton-1 {
    fill: var(--fg-color) !important;
}
