@import "colors.css";

/*
Sidebar
 */
#sidebar-main {
    background-color: var(--bg-color) !important;
    -moz-appearance: none !important;
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
}

#sidebar-container {
    background-color: var(--bg-color) !important;
}

#tabbrowser-tabbox {
    outline: none !important;
    box-shadow: none !important;
}

.tab-stack {
    background: var(--bg-color) !important;
    color: var(--fg-color) !important;
}

.tab-icon-overlay {
    display: none !important;
}

button {
    color: var(--fg-color) !important;
}

.tab-close-button {
    display: none !important;
}

.sidebar-splitter {
    color: var(--bg-color) !important;
    background-color: var(--bg-color) !important;
}

#sidebar-tools-and-extensions-splitter {
    border-top-color: transparent !important;
    background-color: transparent !important;
}

.tab-background:is([selected]:not([multiselected])) {
    background: var(--tab-selected-bgcolor) !important;
    border-color: color-mix(
        in srgb,
        var(--fg-color) 5%,
        transparent
    ) !important;
}
