@define-color surface {{ colors.surface.dark.hex }};
@define-color on-surface {{ colors.on_surface.dark.hex }};
@define-color surface-variant {{ colors.surface_variant.dark.hex }};
@define-color on-surface-variant {{ colors.on_surface_variant.dark.hex }};
@define-color primary {{ colors.primary.dark.hex }};
@define-color on-primary {{ colors.on_primary.dark.hex }};
@define-color red #FF0000;
@define-color green #00FF00;
@define-color blue #0000FF;
@define-color yellow #FFFF00;
@define-color purple #FF00FF;

@define-color grey_00 @surface-variant;
@define-color grey_05 @surface-variant;
@define-color grey_10 @surface-variant;
@define-color grey_15 @surface-variant;
@define-color grey_20 @surface-variant;
@define-color grey_25 @surface-variant;
@define-color grey_30 @surface-variant;
@define-color grey_35 @surface-variant;
@define-color grey_40 @surface-variant;
@define-color grey_45 @surface-variant;
@define-color grey_50 @surface-variant;
@define-color grey_55 @surface-variant;
@define-color grey_60 @surface-variant;
@define-color grey_65 @surface-variant;
@define-color grey_70 @surface-variant;
@define-color grey_75 @surface-variant;
@define-color grey_80 @surface-variant;
@define-color grey_85 @surface-variant;
@define-color grey_90 @surface-variant;
@define-color grey_95 @surface-variant;
@define-color grey_100 @surface-variant;

/* General */
@define-color selected_bg_color @surface;       /* legacy stuff */
@define-color border_color @surface;            /* border, when used */
@define-color bg_color @surface;                /* general background */
@define-color fg_color @on-surface;                /* general text */
@define-color base_color @on-surface;             /* legacy stuff */
@define-color text_color @on-surface;              /* same */
@define-color placeholder_text_color @primary;  /* placeholder text color (text on search background fields) */
@define-color disabled_fg_color @surface-variant;       /* disabled controls */

/* Scroll bars (sliders) */
@define-color scroll_bar_inactive @surface-variant;
@define-color scroll_bar_active @primary;
@define-color scroll_bar_bg @surface;

/* Modules box (plugins) */
@define-color plugin_bg_color @surface;
@define-color section_label shade(@on-surface, 0.92);
@define-color plugin_label_color @on-surface;
@define-color collapsible_bg_color @surface;

/* Modules controls (sliders and comboboxes) */
@define-color bauhaus_bg alpha(@surface, 0.55);
@define-color bauhaus_fg @on-surface;       /* needed to correctly display color pickers in all states, even if they inherit @on-surface_color by default */
@define-color bauhaus_border shade(@surface, 0.5);
@define-color bauhaus_indicator_border @primary;
@define-color bauhaus_fill @surface-variant;
@define-color bauhaus_bg_hover @surface-variant;
@define-color bauhaus_fg_hover @on-surface-variant;
@define-color bauhaus_fg_selected @on-surface;
@define-color bauhaus_fg_insensitive alpha(@on-surface, 0.4);

/* GTK Buttons and tabs */
@define-color button_bg @surface-variant;
@define-color button_fg @primary;
@define-color button_border shade(@button_bg, 1.04);
@define-color button_hover_bg @surface-variant;
@define-color button_hover_fg @on-surface-variant;

/* text fields */
@define-color field_bg @surface;
@define-color field_fg @on-surface;
@define-color field_active_bg @surface;
@define-color field_active_fg @on-surface;
@define-color field_selected_bg @surface;
@define-color field_selected_fg @on-surface;
@define-color field_hover_bg @surface;
@define-color field_hover_fg @on-surface;

/* Tooltips and contextual helpers */
@define-color tooltip_bg_color @surface;
@define-color tooltip_fg_color @on-surface;
@define-color really_dark_bg_color @surface;
@define-color log_fg_color @on-surface;

/* Views */
@define-color darkroom_bg_color @surface;    /* this need to be middle grey to correctly work on images. And for all themes */
@define-color darkroom_preview_bg_color @darkroom_bg_color;
@define-color lighttable_bg_color @surface;
@define-color lighttable_preview_bg_color @darkroom_bg_color;
@define-color lighttable_bg_font_color @surface;
@define-color print_bg_color @lighttable_bg_color;

/* Lighttable and film-strip */
@define-color thumbnail_font_color @on-surface;
@define-color thumbnail_bg_color @surface;
@define-color thumbnail_star_bg_color @surface;
@define-color thumbnail_star_hover_color @primary;
@define-color thumbnail_localcopy @on-surface;
@define-color thumbnail_fg_color @on-surface;
@define-color thumbnail_bg50_color @surface;
@define-color thumbnail_selected_bg_color @surface;
@define-color thumbnail_hover_bg_color @surface;
@define-color thumbnail_hover_fg_color @on-surface;
@define-color filmstrip_bg_color @lighttable_bg_color;
@define-color timeline_bg_color shade(@lighttable_bg_color, 0.9);
@define-color timeline_fg_color @text_color;
@define-color timeline_text_bg_color alpha(black, .8);
@define-color timeline_text_fg_color alpha(white, .9);

@define-color range_graph_color alpha(@timeline_fg_color, 0.75);
@define-color range_bg_color alpha(@on-surface, 0.12);
@define-color range_cursor_color alpha(@on-surface, 0.75);
@define-color range_sel_color alpha(@bauhaus_fill, 0.6);
@define-color range_icon_color alpha(@thumbnail_hover_fg_color, 0.35);

/* Brushes */
@define-color brush_cursor alpha(white, .9);
@define-color brush_trace alpha(black, .6);

/* Graphs : histogram, navigation thumbnail and some items on tone curve */
@define-color graph_bg @surface;
@define-color graph_exterior shade(@graph_bg, 0.9);
@define-color graph_border @primary;
@define-color graph_fg @on-surface;
@define-color graph_fg_active @on-surface;
@define-color graph_grid @primary;
@define-color graph_overlay @surface-variant;
@define-color inset_histogram alpha(@surface-variant, 0.50);
/* Primaries selected for visual legibility across a variety of
   gamuts, and to combine to pleasing secondaries. The combination of
   all three must either to either the same number or >= 255 to
   produce a neutral overlap. */
@define-color graph_red @red;
@define-color graph_green @green;
@define-color graph_blue @blue;

@define-color colorlabel_red @red;
@define-color colorlabel_green @green;
@define-color colorlabel_blue @blue;
@define-color colorlabel_yellow @yellow;
@define-color colorlabel_purple @purple;


/* Set background on thumbnails hover overlays */
.dt_overlays_hover_extended #thumb-main:hover #thumb-bottom,
.dt_overlays_mixed #thumb-main:hover #thumb-bottom,
.dt_overlays_hover #thumb-main:hover #thumb-bottom
{
    background-image: none;  /* rgb color needs to be set to same color as #thumb-back hover background */
    background-color: @surface;
}

/* Set background on block infos in last overlay mode and culling/preview modes shown with mouse hover */
.dt_overlays_hover_block #thumb-image:hover #thumb-bottom
{
    background-image: none;
    background-color: @surface;
}

/* Set red reject icon when visible */
.dt_overlays_hover #thumb-main:hover #thumb-reject:active,
.dt_overlays_hover #thumb-main:hover #thumb-reject:hover,
.dt_overlays_hover_extended #thumb-main:hover #thumb-reject:active,
.dt_overlays_hover_extended #thumb-main:hover #thumb-reject:hover,
.dt_overlays_always #thumb-reject:active,
.dt_overlays_always #thumb-main:hover #thumb-reject:active,
.dt_overlays_always #thumb-main:selected #thumb-reject:active,
.dt_overlays_always #thumb-reject:hover,
.dt_overlays_always #thumb-main:hover #thumb-reject:hover,
.dt_overlays_always_extended #thumb-reject:active,
.dt_overlays_always_extended #thumb-main:hover #thumb-reject:active,
.dt_overlays_always_extended #thumb-main:selected #thumb-reject:active,
.dt_overlays_always_extended #thumb-reject:hover,
.dt_overlays_always_extended #thumb-main:hover #thumb-reject:hover,
.dt_overlays_mixed #thumb-reject:active,
.dt_overlays_mixed #thumb-main:hover #thumb-reject:active,
.dt_overlays_mixed #thumb-main:selected #thumb-reject:active,
.dt_overlays_mixed #thumb-reject:hover,
.dt_overlays_mixed #thumb-main:hover #thumb-reject:hover,
.dt_overlays_hover_block #thumb-image:hover #thumb-reject:active,  /* for overlay hover block, set it on #thumb-image and not #thumb-main here to avoid some glitches when block disappear */
.dt_overlays_hover_block #thumb-image:hover #thumb-reject:hover
{
    color: @red;
}
